<!DOCTYPE html>
<html>
  <head>
    <title>Annie Sexton</title>
    <meta name="description" content="Annie Sexton is a multi-faceted product developer that’s passionate about designing and developing great software on the web.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Newsreader:wght@700&display=swap" rel="stylesheet">
    <!-- <%= javascript_pack_tag 'hello-world-bundle' %> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
